@import url(https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic);

body { 
    margin: 0;
    font-family:'Cairo', sans-serif !important;
    background: #ebe5e7;
    height:100%;
}
#world {
  background: #ebe5e7;
  width:100%;
  /* overflow:hidden; */
}
#title { 
    position: absolute;
    top: 10%;
    width: 100%;
    margin: auto;
    font-weight: 700;
    color:#653f4c;
    font-size:2em;
    text-transform: uppercase;
    text-align : center;
  
}
.innertitle { 
  margin: auto;
  padding: 2rem;
  color:#653f4c;
}
/* .innertitle::after { 
  content: '';
  display: block;
  width: 40px;
  border-top: 2px solid #653f4c;
} */
.innertitle h1 { 
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
.lightTitle { 
    color: #993f4c;
    font-size: 1.5rem;
}
#instructions{
  position:absolute;
  width:100%;
  top:60%;
  margin-top:120px;
  text-align: center;
}
#nav { 
  position:absolute;
  top: 2rem;
  right: 2rem;
  
}
#nav a { 
  color: #993f4c;
  text-decoration:none; 
  font-weight: 700;
  transition: font-size 0.2s;  
}

#nav a:hover { 
  font-size: 1.2rem;
  color: #653f4c;
}
#instructions a { 
    font-weight: 700;
    margin: 0.5rem;
    color:#993f4c;
    font-size:1rem;
    text-transform: uppercase;
    text-decoration:none; 
    transition: font-size 0.2s;  
} 
#instructions a:hover { 
  font-size: 1.2rem;
  color: #653f4c;
}
#birds { 
  height: 350px;
  margin: 0 auto;   
}
canvas { 
  margin: 0 auto;
  display: inherit;
}

.lightInstructions {
  color:#993f4c;
  font-size:.8em;
}
.purposes { 
  margin: 0 2rem;
}
.purposes p{ 
font-size: 1.2rem;
text-align: center;
}
.purposes ul { 
  list-style: none;
  height: auto;
  margin: auto;
  padding: 1.5rem;
}
.purposes .row .col-md-4 { 
  padding: 1rem;
  display: inline;
  margin: 0 auto;
 
}
.col-title { 
  margin: 0 1.5rem;
  font-size: 1.1rem;
  text-align: right;
  padding: 1rem;
  border-bottom: 2px solid #653f4c;
}