.tabs { 
 margin: 1rem  10rem;    
}
.accordion {
    background-color: #e0dacd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-weight: 700;
    font-size: 1.1rem;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgba(153, 63, 76,0.2);
  }
  button { 
      
  }
  button:focus { 
      outline: 5px auto #653f4c;
  }
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: #ebe5e7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p { 
      font-size: 1.1rem;
      padding: 10px 0;
      text-align: right;
  }